# Some popular IDEs
.vscode
.idea
*.iml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Workspace
go.work*

# Dependency directories
/vendor/

.local/
local.*
